doctype
| <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
| <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
| <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
| <!--[if (gte IE 9)|!(IE)]><!-->
html(lang="ru") <!--<![endif]-->
  head
    meta(charset="UTF-8")
    meta(name="description" content="")
    title Заголовок
    
    link(rel="stylesheet", href="libs/bootstrap/css/bootstrap-grid.min.css")
    // TODO: Header CSS (First Sections of Website: paste after release from _header.min.css here)
    script
    // Loading fonts with checking HTML5 Storage
    script.
      !function(){function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))a(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(a(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var c=document.createElement("link");c.href=o,c.rel="stylesheet",c.type="text/css",document.getElementsByTagName("head")[0].appendChild(c),document.cookie="font_css_cache"}}function a(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o="fonts.min.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}();
    
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
    link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

  body
    
    // Здесь пишем код



    | <!--[if lt IE 9]>
    |  <script src="libs/html5shiv/es5-shim.min.js"></script>
    |  <script src="libs/html5shiv/html5shiv.min.js"></script>
    |  <script src="libs/html5shiv/html5shiv-printshiv.min.js">
    |  </script><script src="libs/respond/respond.min.js"></script>
    |  <![endif]-->
    
    // Load CSS
    script.
      // Load Libs CSS
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="libs/animate/animate.css";document.getElementsByTagName("head")[0].appendChild(ms);
      // Header Styles (compress & paste to header after release)
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="css/header.min.css";document.getElementsByTagName("head")[0].appendChild(ms);
      // User Styles
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="css/main.min.css";document.getElementsByTagName("head")[0].appendChild(ms);
      // Media Quieries
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="css/media.min.css";document.getElementsByTagName("head")[0].appendChild(ms);
    
    // Loading libs
    script.
      var scr = {"scripts":[
      {"src" : "libs/modernizr/modernizr.js", "async" : false},
      {"src" : "libs/jquery/jquery-1.11.2.min.js", "async" : false},
      {"src" : "libs/waypoints/waypoints.min.js", "async" : false},
      {"src" : "libs/animate/animate-css.js", "async" : false},
      {"src" : "libs/plugins-scroll/plugins-scroll.js", "async" : false},
      {"src" : "js/common.js", "async" : false}
      ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);